@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;600;800&family=Public+Sans:wght@300;600;900&display=swap');

* {
	font-family: 'Outfit', sans-serif;
	margin: 0 auto;
	background-color: #1f1f1f;
}

body {
	max-width: 1280px;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: #1a8cd7;
}

h1 {
	font-family: 'Public Sans', sans-serif;
	padding: 30px 0px;
}

h1, h2, h3 {
	color: #e3e3e3;
}

h3 {
	padding-top: 20px;
}

ul {
	list-style-type: none;
	padding-left: 0px;
	color: #1f1f1f;
}

li:hover {
	background-color: #032cdb;
	color: white;
}

footer {
	padding-top: 20px;
}

.quiz {
	max-width: 60%;
	max-height: 100vh;
}

.question-list {
	max-width: 60%;
	width: 100%;
	max-height: 10vh;
	color: #1f1f1f;
	display: flex;
	justify-content: center;
	padding-bottom: 10px;
}

.option {
	max-width: 100%;
	width: 100%;
	height: 50px;
	background-color: #79f830;
	margin-top: 15px;
	border-radius: 1%;
	font-size: 15px;
	font-weight: 600;
}

.question-option {
	max-width: 100%;
	width: 100%;
	height: 30px;
	background-color: #faae00;
	border-radius: 50%;
	justify-content: space-between;
	margin: 10px 10px;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-wrap: wrap;
}

.question {
	padding-left: 50px;
}

.answer {
	display: none;
	padding-left: 50px;
}

.result {
	max-width: 40%;
	height: 40px;
	margin-top: 20px;
	color: white;
	border-radius: 1%;
}

.text-answer {
	max-width: 60%;
	margin-top: 30px;
	color: white;
}

.credit {
	max-width: 30%;
	margin-top: 30px;
	color: white;
}

.italic {
	max-width: 30%;
	font-style: italic;
	margin-top: 10px;
	color: white;
}

.chart {
	display: none;
	width: 500px;
	height: 250px;
}

.chart > img {
	max-width: 100%;
	height: auto;
	margin-top: 30px;
}

.orange {
	font-weight: 800;
	color: #faae00;
}

.news-list {
	max-width: 100%;
}

.news {
	padding: 10px;
	text-decoration: none;
}
