@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Outfit:wght@300;600;800&family=Public+Sans:wght@300;600;900&display=swap');

* {
	margin: 0;
	font-family: 'Noto Serif', sans-serif;
	box-sizing: border-box;
	background-color: #041014;
	padding: 0 10%;
	margin-top: 1%;
}

h1 {
	text-align: center;
	font-size: 40px;
}

h2 {
	margin-top: 2%;
	font-size: 20px;
}

h3 {
	font-size: 18px;
}


footer {
	margin: 20px 0px;
}

select, input {
	height: 35px;
	background-color: transparent;
	display: inline;
	text-align-last: center;
	flex-grow: 0;
}

output {
	padding: 0;
	font-size: 15px;
	font-weight: 800;
	color: orange;
}

.flex {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.row {
	flex-direction: row;
	justify-content: space-between;
}

#heart {
	display: inline-block;
	padding: 0;
	font-size: 20px;
	color: #f0443c;
}

input, select {
	border: 2px solid #ffbc0c; /* yellow */
}

#query {
	align-self: center;
}

/* colors */
.blue {
	color: #2596be; /* blue */
}

.blue-2 {
	color: #145369;
}

.yellow {
	color: #ffbc0c
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  * {
    padding: 0 2%;
  }
  select, input {
	height: 20px;
	}
  .row {
  	flex-direction: column;
  }
  #pessoa {
  	margin-top: 15px;
  }
}